<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h1>Latest Posts</h1>
    </div>
  </div>
</div>

<% unless user_signed_in? %>
<div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>You must be signed in to post!</h4>
  <p>You can create an account with the links above, or <%= link_to "log in", new_session_path(User) %>.</p>
</div>
<% else %>
  <%= button_to "Create a Post", new_post_path, method: :get, class: 'btn btn-primary' %>
<% end %>

<div class="list-group push-down">
  <% @posts.each do |post| %>
    <a href="<%= url_for post %>" class="list-group-item">
      <span class="list-group-item-heading"><%= post.title %></span>
      <span class="list-group-item-text"><strong><%= post.user.username %></strong> <%= time_ago_in_words(post.created_at) %> ago<span>
      <%= image_tag(post.picture_url(:thumbnail), class: 'index') if post.picture_url %>
      <span class="badge comments"><%= post.comments.count %></span>
    </a>
  <% end %>
</div>